@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900;9..40,1000&display=swap");
html, body {
  color: #191919;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.btn-yellow {
  background-color: #f9d783;
  border: 1px solid #f9d783;
  color: #191919;
  text-decoration: none;
  padding: 12px 25px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 25px;
}
.btn-yellow i {
  margin-left: 8px;
  font-size: 0.8em;
}
.btn-yellow:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
}

.btn-black {
  background-color: #191919;
  border: 1px solid #191919;
  color: #ffffff;
  text-decoration: none;
  padding: 12px 25px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 25px;
}
.btn-black i {
  margin-left: 8px;
  font-size: 0.8em;
}
.btn-black:hover {
  background-color: #ffffff;
  border: 1px solid #191919;
  color: #191919;
}

.btn-transparent {
  background-color: transparent;
  border: 1px solid #191919;
  color: #191919;
  text-decoration: none;
  padding: 12px 25px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 25px;
}
.btn-transparent i {
  margin-left: 8px;
  font-size: 0.8em;
}
.btn-transparent:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
}

.section-title p {
  color: #f94d1c;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}
.section-title h2 {
  font-family: "DM Sans";
  font-size: 45px;
  font-weight: 700;
  color: #191919;
}

header {
  background-color: #F0EFE9;
  padding: 16px;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
}
header .container .menu-bars {
  border: none;
  font-size: 25px;
  background-color: transparent;
}
@media (min-width: 992px) {
  header .container .menu-bars {
    display: none;
  }
}
header .container .menu {
  display: none;
  flex: 1;
}
@media (min-width: 992px) {
  header .container .menu {
    display: block;
  }
}
@media (min-width: 2500px) {
  header .container .menu {
    max-width: 2048px;
  }
}
header .container .menu .top-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid rgba(175, 171, 171, 0.726);
  padding-bottom: 10px;
}
@media (min-width: 1200px) {
  header .container .menu .top-menu {
    justify-content: space-between;
  }
}
header .container .menu .top-menu .contact-information {
  display: none;
  justify-content: space-between;
}
@media (min-width: 1200px) {
  header .container .menu .top-menu .contact-information {
    display: flex;
    justify-content: space-between;
  }
}
header .container .menu .top-menu .contact-information .content-box {
  padding-right: 30px;
  margin-right: 30px;
  border-right: 1px solid rgba(175, 171, 171, 0.726);
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 300;
}
header .container .menu .top-menu .contact-information .content-box i {
  margin-right: 5px;
  font-size: 1.2em;
}
header .container .menu .top-menu .contact-information .content-box.last {
  border-right: none;
}
header .container .menu .top-menu .social-media a {
  color: #191919;
  font-size: 1.3rem;
  margin-left: 10px;
}
header .container .menu .top-menu .social-media a :hover {
  color: #666666;
}
header .container .menu .main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
@media (min-width) {
  header .container .menu .main-menu {
    display: block;
  }
}
header .container .menu .main-menu nav a {
  display: inline-block;
  color: #191919;
  text-decoration: none;
  margin-right: 30px;
  position: relative;
}
header .container .menu .main-menu nav a.active {
  font-weight: 500;
}
header .container .menu .main-menu nav a.active::after, header .container .menu .main-menu nav a:hover::after {
  content: "";
  position: absolute;
  font-weight: 500;
  height: 2px;
  width: 15px;
  background-color: #191919;
  left: 50%;
  bottom: -3px;
  transform: translate(calc(50% - 15px));
}

.showcase {
  background-color: #F0EFE9;
  position: relative;
  z-index: 0;
}
.showcase .background-lines {
  position: absolute;
  bottom: 0;
  z-index: -1;
}
.showcase .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.showcase .container .content {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
@media (min-width: 1200px) {
  .showcase .container .content {
    text-align: left;
  }
}
.showcase .container .content h1 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
}
@media (min-width: 768px) {
  .showcase .container .content h1 {
    font-size: 66px;
  }
}
@media (min-width: 1400px) {
  .showcase .container .content h1 {
    font-size: 86px;
  }
}
.showcase .container .content p {
  font-size: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.showcase .container .content a {
  margin-right: 0px;
  display: block;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .showcase .container .content a {
    margin-right: 10px;
    display: inline-block;
  }
}
.showcase .container img {
  display: none;
  margin-right: -50px;
}
@media (min-width: 992px) {
  .showcase .container img {
    display: block;
  }
}

.brands .container {
  display: block;
  align-items: center;
}
@media (min-width: 768px) {
  .brands .container .brands .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-top: 72px;
    margin-bottom: 80px;
  }
}
.brands .container .brands .container .last {
  align-items: center;
}

.box {
  border: none;
}
@media (min-width: 768px) {
  .box {
    width: 1520px;
    height: 600px;
    background-color: transparent;
    border: 1px solid rgba(25, 25, 25, 0.2);
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
  }
}
.box .features {
  align-items: center;
}
@media (min-width: 768px) {
  .box .features {
    width: 605px;
    padding-left: 100px;
    padding-top: 80px;
  }
}
.box .features .section-title {
  text-align: center;
}
.box .features a {
  display: block;
  align-items: center;
  text-align: center;
}
.box .services {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 15px;
}
@media (min-width: 768px) {
  .box .services {
    display: grid;
    grid-template-areas: "business  start-up " "advice  manegment ";
    padding-left: 0px;
    padding-right: 125px;
    padding-top: 100px;
    padding-bottom: 80px;
  }
}
.box .services .business {
  position: relative;
}
.box .services .business a {
  color: #000000;
  position: absolute;
  top: 2px;
}
@media (min-width: 768px) {
  .box .services .business {
    position: relative;
  }
  .box .services .business a {
    color: #000000;
    position: absolute;
    top: 2px;
  }
}
.box .services .start-up {
  padding-right: 5px;
  position: relative;
}
.box .services .start-up h1 {
  font-size: 20px;
}
.box .services .start-up p {
  font-size: 10px;
}
.box .services .start-up a {
  color: #000000;
  position: absolute;
  top: 2px;
}
@media (min-width: 768px) {
  .box .services .start-up {
    position: relative;
  }
  .box .services .start-up a {
    color: #000000;
    position: absolute;
    top: 2px;
  }
}
.box .services .advice {
  position: relative;
}
.box .services .advice a {
  color: #000000;
  position: absolute;
  top: 2px;
}
.box .services .manegment {
  position: relative;
}
.box .services .manegment a {
  color: #000000;
  position: absolute;
  top: 2px;
}
.box .services h1 {
  font-family: "DM Sans";
  font-size: 22px;
  font-weight: bold;
  line-height: 33px;
  font-style: normal;
  text-align: left;
  color: #191919;
  padding-top: 40px;
}
.box .services p {
  font-family: "Inter";
  font-size: 16px;
  line-height: 25px;
  padding-right: 60px;
  display: block;
  text-align: left;
  width: 227px;
  text-wrap: wrap;
}
@media (min-width: 768px) {
  .about .container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 120px;
  }
  .about .container .image {
    position: relative;
  }
  .about .container .image .blue-box {
    position: absolute;
    bottom: 100px;
    left: -50px;
    width: 368px;
    height: 180px;
    background-color: #BEEBFF;
    border: 1px solid rgba(25, 25, 25, 0.2);
    display: block;
    position: absolute;
  }
  .about .container .image .blue-box .name-role {
    display: flex;
  }
  .about .container .image .blue-box .name-role .name {
    color: #191919;
    font-size: 20px;
    font-weight: bold;
  }
  .about .container .image .blue-box .name-role .role {
    color: #F94D1C;
    font-size: 16px;
    font-weight: bold;
  }
  .about .container .section-title {
    padding-top: 10px;
    padding-left: 270px;
    padding-right: 50px;
    padding-bottom: 30px;
  }
  .about .container .section-title h3 {
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: rgba(25, 25, 25, 0.7);
    padding-bottom: 30px;
    padding-top: 30px;
  }
  .about .container .section-title h4 {
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: rgba(25, 25, 25, 0.7);
  }
  .about .container .section-title .buttons {
    padding-top: 60px;
    display: flex;
    align-items: center;
  }
  .about .container .section-title .buttons .play-icon {
    font-size: 50px;
    padding-left: 40px;
    background-color: transparent;
    color: #5f5f5f;
    font-weight: 10;
  }
  .about .container .section-title .buttons p {
    padding-left: 16px;
    font-family: "Inter";
    font-size: 16px;
    font-weight: normal;
    line-height: 16px;
    font-style: normal;
    color: #191919;
    padding-top: 10px;
  }
}

.service {
  background-color: #F0EFE9;
  padding-bottom: 120px;
}
.service .container .section-title {
  padding-top: 120px;
  padding-bottom: 50px;
}
@media (min-width: 768px) {
  .service .container .services-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
  }
}
.service .container .services-grid .box-1 {
  position: relative;
  height: 333px;
  width: 308px;
  background-color: #ffffff;
}
.service .container .services-grid .box-1 p {
  padding-left: 30px;
  padding-top: 30px;
}
.service .container .services-grid .box-1 h1 {
  font-family: "DM Sans";
  font-size: 22px;
  font-weight: bold;
  line-height: 33px;
  padding-top: 20px;
  padding-left: 30px;
}
.service .container .services-grid .box-1 h2 {
  font-family: "Inter";
  font-size: 16px;
  font-weight: normal;
  line-height: 28px;
  padding-left: 30px;
  padding-right: 30px;
  color: rgba(25, 25, 25, 0.7);
}
.service .container .services-grid .box-1 i {
  position: absolute;
  right: 0;
  padding-right: 30px;
  padding-top: 30px;
  font-size: 35px;
  color: #191919;
}
.service .container .services-grid .box-2 {
  position: relative;
  height: 333px;
  width: 308px;
  background-color: #F9D783;
}
.service .container .services-grid .box-2 p {
  padding-left: 30px;
  padding-top: 30px;
}
.service .container .services-grid .box-2 h1 {
  font-family: "DM Sans";
  font-size: 22px;
  font-weight: bold;
  line-height: 33px;
  padding-top: 20px;
  padding-left: 30px;
}
.service .container .services-grid .box-2 h2 {
  font-family: "Inter";
  font-size: 16px;
  font-weight: normal;
  line-height: 28px;
  padding-left: 30px;
  padding-right: 30px;
  color: rgba(25, 25, 25, 0.7);
}
.service .container .services-grid .box-2 i {
  position: absolute;
  right: 0;
  padding-right: 30px;
  padding-top: 30px;
  font-size: 35px;
}
.service .container .services-grid .box-3 {
  position: relative;
  height: 333px;
  width: 308px;
  background-color: #ffffff;
}
.service .container .services-grid .box-3 p {
  padding-left: 30px;
  padding-top: 30px;
}
.service .container .services-grid .box-3 h1 {
  font-family: "DM Sans";
  font-size: 22px;
  font-weight: bold;
  line-height: 33px;
  padding-top: 20px;
  padding-left: 30px;
}
.service .container .services-grid .box-3 h2 {
  font-family: "Inter";
  font-size: 16px;
  font-weight: normal;
  line-height: 28px;
  padding-left: 30px;
  padding-right: 30px;
  color: rgba(25, 25, 25, 0.7);
}
.service .container .services-grid .box-3 i {
  position: absolute;
  right: 0;
  padding-right: 30px;
  padding-top: 30px;
  font-size: 35px;
  color: #191919;
}
.service .container .services-grid .box-4 {
  position: relative;
  height: 333px;
  width: 308px;
  background-color: #ffffff;
}
.service .container .services-grid .box-4 p {
  padding-left: 30px;
  padding-top: 30px;
}
.service .container .services-grid .box-4 h1 {
  font-family: "DM Sans";
  font-size: 22px;
  font-weight: bold;
  line-height: 33px;
  padding-top: 20px;
  padding-left: 30px;
}
.service .container .services-grid .box-4 h2 {
  font-family: "Inter";
  font-size: 16px;
  font-weight: normal;
  line-height: 28px;
  padding-left: 30px;
  padding-right: 30px;
  color: rgba(25, 25, 25, 0.7);
}
.service .container .services-grid .box-4 i {
  position: absolute;
  right: 0;
  padding-right: 30px;
  padding-top: 30px;
  font-size: 35px;
  color: #191919;
}
.service .container .button-down {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.why-choose-us .container {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 768px) {
  .why-choose-us .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding-bottom: 120px;
  }
}
.why-choose-us .container .text-section .section-title {
  text-align: center;
  padding-top: 60px;
  padding-right: 100px;
}
@media (min-width: 768px) {
  .why-choose-us .container .text-section .section-title {
    text-align: left;
  }
}
.why-choose-us .container .text-section .subjects .p1 {
  display: flex;
  padding-top: 15px;
}
.why-choose-us .container .text-section .subjects .p1 i {
  font-size: 30px;
  padding-top: 15px;
}
.why-choose-us .container .text-section .subjects .p1 p {
  font-family: "DM Sans";
  font-size: 22px;
  font-weight: bold;
  line-height: 33px;
  padding-left: 20px;
}
.why-choose-us .container .text-section .subjects .text-1 {
  font-family: "Inter";
  font-size: 16px;
  font-weight: normal;
  line-height: 28px;
  padding-left: 45px;
}
.why-choose-us .container .text-section .subjects .p2 {
  display: flex;
  padding-top: 15px;
}
.why-choose-us .container .text-section .subjects .p2 i {
  font-size: 30px;
  padding-top: 15px;
}
.why-choose-us .container .text-section .subjects .p2 p {
  font-family: "DM Sans";
  font-size: 22px;
  font-weight: bold;
  line-height: 33px;
  padding-left: 20px;
}
.why-choose-us .container .text-section .subjects .text-2 {
  font-family: "Inter";
  font-size: 16px;
  font-weight: normal;
  line-height: 28px;
  padding-left: 45px;
}
.why-choose-us .container .text-section .subjects .p3 {
  display: flex;
  padding-top: 15px;
}
.why-choose-us .container .text-section .subjects .p3 i {
  font-size: 30px;
  padding-top: 15px;
}
.why-choose-us .container .text-section .subjects .p3 p {
  font-family: "DM Sans";
  font-size: 22px;
  font-weight: bold;
  line-height: 33px;
  padding-left: 20px;
}
.why-choose-us .container .text-section .subjects .text-3 {
  font-family: "Inter";
  font-size: 16px;
  font-weight: normal;
  line-height: 28px;
  padding-left: 45px;
}
.why-choose-us .container .text-section .subjects .p4 {
  display: flex;
  padding-top: 15px;
}
.why-choose-us .container .text-section .subjects .p4 i {
  font-size: 30px;
  padding-top: 15px;
}
.why-choose-us .container .text-section .subjects .p4 p {
  font-family: "DM Sans";
  font-size: 22px;
  font-weight: bold;
  line-height: 33px;
  padding-left: 20px;
}
.why-choose-us .container .text-section .subjects .text-4 {
  font-family: "Inter";
  font-size: 16px;
  font-weight: normal;
  line-height: 28px;
  padding-left: 45px;
}
.why-choose-us .container .image-section {
  position: relative;
}
.why-choose-us .container .image-section .photo {
  display: none;
  padding-top: 90px;
  padding-left: 0px;
  z-index: 0;
  max-width: 100%;
}
@media (min-width: 768px) {
  .why-choose-us .container .image-section .photo {
    display: block;
  }
}
.why-choose-us .container .image-section .gray-box {
  display: none;
}
@media (min-width: 768px) {
  .why-choose-us .container .image-section .gray-box {
    display: block;
    height: 425px;
    width: 1057px;
    background-color: #F0EFE9;
    border: none;
    position: absolute;
    top: 250px;
    left: -110px;
    z-index: -1;
  }
}

.project-and-cases .container .section-title {
  text-align: center;
}
.project-and-cases .container .cases {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
@media (min-width: 768px) {
  .project-and-cases .container .cases {
    grid-template-columns: 1fr 1fr;
  }
}
.project-and-cases .container .cases article {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}
.project-and-cases .container .cases article img {
  width: 100%;
}
.project-and-cases .container .cases article h3 {
  font-family: "DM Sans";
  font-size: 22px;
  font-weight: bold;
  padding-top: 35px;
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(175, 171, 171, 0.726);
}
.project-and-cases .container .cases article a {
  padding: 15px;
  display: block;
  text-align: right;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #191919;
}
.project-and-cases .container .cases article a:hover {
  text-decoration: underline;
}
.project-and-cases .container .cases article i {
  margin-left: 3px;
}
.project-and-cases .container .center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 90px;
}

.meet-our-team {
  background-color: #EDCF87;
}
.meet-our-team .container .head-section {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}
@media (min-width: 768px) {
  .meet-our-team .container .head-section {
    padding-top: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 90px;
  }
}
.meet-our-team .container .head-section .section-title {
  text-align: center;
}
@media (min-width: 768px) {
  .meet-our-team .container .head-section .section-title {
    text-align: left;
  }
}
.meet-our-team .container .photos {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .meet-our-team .container .photos {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.meet-our-team .container .photos .kristin img {
  padding-bottom: 25px;
}
.meet-our-team .container .photos .kristin h2 {
  font-family: "DM Sans";
  font-size: 22px;
  font-weight: bold;
}
.meet-our-team .container .photos .kristin h3 {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
}
.meet-our-team .container .photos .mark {
  background-color: transparent;
}
.meet-our-team .container .photos .mark img {
  padding-bottom: 25px;
}
.meet-our-team .container .photos .mark h2 {
  font-family: "DM Sans";
  font-size: 22px;
  font-weight: bold;
}
.meet-our-team .container .photos .mark h3 {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
}
.meet-our-team .container .photos .kimberly img {
  padding-bottom: 25px;
}
.meet-our-team .container .photos .kimberly h2 {
  font-family: "DM Sans";
  font-size: 22px;
  font-weight: bold;
}
.meet-our-team .container .photos .kimberly h3 {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
}
.meet-our-team .container .photos .justin img {
  padding-bottom: 25px;
}
.meet-our-team .container .photos .justin h2 {
  font-family: "DM Sans";
  font-size: 22px;
  font-weight: bold;
}
.meet-our-team .container .photos .justin h3 {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
}
.meet-our-team .container .page-dots {
  font-size: 40px;
  text-align: center;
  margin-top: 40px;
  padding-bottom: 60px;
}

.reviews-section {
  background-color: #EDCF87;
  padding-bottom: 120px;
}
.reviews-section .container {
  background-color: #FFFFFF;
}
.reviews-section .container .section-title {
  padding-top: 120px;
  text-align: center;
  padding-bottom: 90px;
}
.reviews-section .container .openions {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 768px) {
  .reviews-section .container .openions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    -moz-column-gap: 90px;
         column-gap: 90px;
  }
}
.reviews-section .container .openions .stars {
  padding-bottom: 30px;
}
.reviews-section .container .openions h2 {
  font-family: "Inter";
  font-size: 18px;
  font-weight: normal;
}
.reviews-section .container .openions .image-name {
  display: flex;
  align-items: center;
  padding-top: 30px;
}
.reviews-section .container .openions .name-role {
  padding-left: 20px;
}
.reviews-section .container .openions p {
  font-family: "DM Sans";
  font-size: 22px;
  font-weight: bold;
}
.reviews-section .container .openions h3 {
  font-family: "Inter";
  font-size: 16px;
  font-weight: normal;
  color: #F94D1C;
}
.reviews-section .container .center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
  padding-bottom: 120px;
}

.article .container .top-section {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 35px;
}
.article .container .top-section .section-title {
  text-align: center;
}
@media (min-width: 768px) {
  .article .container .top-section .section-title {
    text-align: left;
  }
}
.article .container .top-section .button {
  text-align: center;
}
@media (min-width: 768px) {
  .article .container .top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 35px;
  }
}
.article .container .events {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}
@media (min-width: 768px) {
  .article .container .events {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.article .container .events p {
  font-family: "Inter";
  font-size: 16px;
  font-weight: normal;
  color: #6a6c71;
  padding-top: 22px;
}
.article .container .events h2 {
  font-family: "DM Sans";
  font-size: 22px;
  font-weight: bold;
  color: #191919;
  padding-top: 22px;
}
.article .container .events h3 {
  font-family: "Inter";
  font-size: 16px;
  font-weight: normal;
  color: rgba(25, 25, 25, 0.7);
  padding-top: 22px;
}
.article .container .page-dots {
  font-size: 40px;
  text-align: center;
  margin-top: 40px;
  padding-bottom: 60px;
}

.news-letter {
  background-color: #F0EFE9;
  position: relative;
}
.news-letter .background-lines {
  display: none;
}
@media (min-width: 768px) {
  .news-letter .background-lines {
    display: block;
    position: absolute;
    bottom: 40px;
    right: 0;
  }
}
.news-letter .container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  padding: 20px 0px;
}
@media (min-width: 768px) {
  .news-letter .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0px;
  }
}
.news-letter .container .section-title {
  text-align: center;
}
@media (min-width: 768px) {
  .news-letter .container .section-title {
    text-align: left;
  }
}
.news-letter .container form {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 768px) {
  .news-letter .container form {
    display: flex;
  }
}
.news-letter .container form input {
  border: 1px solid rgba(25, 25, 25, 0.1);
  padding: 15px 30px;
  border-radius: 25px;
}

.let-conect {
  background-color: #F0EFE9;
  position: relative;
  z-index: 0;
}
.let-conect .background-lines {
  position: absolute;
  bottom: 0;
  z-index: -1;
}
.let-conect .container {
  text-align: center;
}
@media (min-width: 768px) {
  .let-conect .container {
    margin-bottom: 120px;
  }
}
.let-conect .container h2 {
  padding: 130px 0px 90px 0px;
  font-family: "DM Sans";
  font-size: 56px;
  font-weight: bold;
}

.information .container {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .information .container {
    margin-bottom: 80px;
  }
}
@media (min-width: 768px) {
  .information .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}
@media (min-width: 1200px) {
  .information .container {
    display: flex;
    justify-content: space-between;
  }
}
.information .container > div {
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(138, 138, 138, 0.2588235294);
  padding: 20px 35px;
}
@media (min-width: 768px) {
  .information .container > div {
    padding: 30px 60px;
  }
}
@media (min-width: 1200px) {
  .information .container > div {
    padding: 40px 70px;
  }
}
.information .container > div .icon {
  font-size: 30px;
  padding: 15px;
  margin-right: 20px;
}
.information .container > div .text h2 {
  font-family: "DM Sans";
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
}
.information .container > div .text h3 {
  font-family: "Inter";
  font-size: 18px;
  font-weight: normal;
}

.message .container {
  background-color: #F0EFE9;
  padding-top: 125px;
}
.message .container h2 {
  text-align: center;
  font-family: "DM Sans";
  font-size: 45px;
  font-weight: bold;
}
.message .container .input-info {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}
@media (min-width: 768px) {
  .message .container .input-info {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    padding: 30px 150px;
  }
}
.message .container .input-info input {
  border: 1px solid rgba(25, 25, 25, 0.1);
  padding: 15px 30px;
  border-radius: 25px;
  margin-bottom: 15px;
}
.message .container .input-info #M {
  padding-bottom: 150px;
}
@media (min-width: 768px) {
  .message .container .button-sendMessage {
    padding: 20px 150px;
  }
}
.message .container .button-sendMessage .btn-yellow {
  display: block;
  align-items: center;
  text-align: center;
  margin-bottom: 100px;
}

@media (min-width: 768px) {
  .map {
    margin-top: 120px;
  }
}
.map img {
  max-width: 100%;
  min-width: 100%;
}
@media (min-width: 768px) {
  .map img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

footer {
  background-color: #0E1021;
  padding-top: 110px;
}
@media (min-width: 768px) {
  footer .container .topics {
    display: flex;
    justify-content: space-between;
    padding-bottom: 110px;
  }
}
footer .container .topics .crito {
  width: 300px;
}
footer .container .topics .crito h2 {
  padding-top: 30px;
  padding-right: 35px;
}
footer .container .topics p {
  font-family: "DM Sans";
  font-size: 22px;
  font-weight: bold;
  color: #ffffff;
  padding-bottom: 5px;
}
@media (min-width: 768px) {
  footer .container .topics p {
    padding-bottom: 30px;
  }
}
footer .container .topics h2 {
  font-family: "Inter";
  font-size: 16px;
  font-weight: normal;
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
  padding-bottom: 10px;
}
footer .last-row {
  border-top: 1px solid rgba(255, 255, 255, 0.337254902);
  text-align: center;
}
@media (min-width: 768px) {
  footer .last-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
  }
}
footer .last-row h3 {
  font-family: "Inter";
  font-size: 16px;
  font-weight: normal;
  color: rgba(255, 255, 255, 0.7);
}
footer .last-row .social-media a {
  padding-left: 25px;
  color: #FFFFFF;
}